/*---- GENERAL STYLE RESET  ----*/
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

/*---- GENERAL ELEMENTS STYLE ----*/
html,
body {
  scroll-behavior: smooth;
  font-family: 'helvetica neue';
  font-size: 1.25rem;
  font-weight: 200;
  background: #ffc600;
}

.panels {
  min-height: 100vh;
  min-width: auto;
  overflow: hidden;
  display: flex;
  flex-flow: column;
}

.panel {
  background: #6b0f9c;
  box-shadow: inset 0 0 0 .3125rem rgba(255, 255, 255, 0.1);
  color: #fff;
  text-align: center;
  align-items: center;
  /* Safari transitionend event.propertyName === flex */
  /* Chrome + FF transitionend event.propertyName === flex-grow */
  transition: font-size 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11),
    flex 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11), background 0.4s;
  font-size: 1.25rem;
  background-size: cover;
  background-position: center;
  flex: 1;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-flow: row;
}

.panel1 {
  background-image: url(https://images.unsplash.com/photo-1679934370702-fea767143fb3);
}
.panel2 {
  background-image: url(https://images.unsplash.com/photo-1615627121117-e3278bc8b1db);
}
.panel3 {
  background-image: url(https://images.unsplash.com/photo-1679329614246-f099ba78c6aa?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80);
}
.panel4 {
  background-image: url(https://images.unsplash.com/photo-1571769267292-e24dfadebbdc);
}
.panel5 {
  background-image: url(https://images.unsplash.com/photo-1680234260561-383bb6705468);
}

/* Flex Children */
.panel > * {
  margin: 0;
  width: 100%;
  transition: transform 0.5s;
  flex: 1 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.open-active > p:nth-child(2) {
  transform: scale(2);
}

.panel p {
  text-transform: uppercase;
  font-family: 'Amatic SC', cursive;
  text-shadow: 0 0 .25rem rgba(0, 0, 0, 0.72), 0 0 .875rem rgba(0, 0, 0, 0.45);
  font-size: 1rem;
  border: 1px red;

}

/* Animation */
.panel > *:first-child {
  transform: translateX(-100%);
}

.open-active > *:first-child {
  transform: translateX(70%);
}

.panel > *:last-child { 
  transform: translateX(100%);
}

.open-active > *:last-child {
  transform: translateX(-70%);
}

.panel p:nth-child(2) {
  font-size: 2.5rem;
}

.panel.open {
  flex: 5;
}

/* ------------------------------------- MEDIUM SIZE SCREENS ------------------------------------- */
@media (min-width: 640px) {
  .panels {
    flex-direction: row;
  }

  .panel {
    flex-direction: column;
  }

  .panel p {
    font-size: 2rem;
  }

  .panel p:nth-child(2) {
    font-size: 3.5rem;
  }

  /* Animation */
  .panel > *:first-child {
    transform: translateY(-100%);
  }
  
  .open-active > *:first-child {
    transform: translateY(0%);
  }
  
  .panel > *:last-child { 
    transform: translateY(100%);
  }
  
  .open-active > *:last-child {
    transform: translateY(0%);
  }
}

/* ------------------------------------- LARGE SIZE SCREENS ------------------------------------- */
@media (min-width: 1024px) {
  

}

/* ------------------------------------- EXTRA LARGE SIZE SCREENS ------------------------------------- */
@media (min-width: 1440px) {
}
