@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;900&display=swap');

/*---- GENERAL STYLE RESET  ----*/
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

/*---- GENERAL ELEMENTS STYLE ----*/
html,
body {
  scroll-behavior: smooth;
  min-width: 20rem;
}

:root {
  font-size: 2rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  line-height: 2.5rem;
}

body {
  background: #fff;
  color: #000;
  justify-content: space-between;
}

.container {
  width: 100vw;
  display: flex;
  flex-flow: column;
  align-content: center;
  align-items: center;
  justify-content: center;
  justify-items: center;
}

.controls {
  margin-bottom: 50px;
}

input {
  width: 100px;
}